[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
pytest = "*"

[packages]
clickable-ansible = {ref = "dev", git = "https://github.com/lalmeras/clickable_ansible"}

[requires]
python_version = "3.6"
